# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries for Data Science
- List popular open-source development environments for Data Science
- Insert artihmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Numpy

|Data Science Tools| 
|------------------|
|RStudio|
|Jupyter Notebook|
|GitHub|

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple arithmetic expression to multiply then add integers.

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [9]:
200/60

3.3333333333333335

## Author
  Elena